#screen {
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: grey;
    height: 30rem;
    width: 30rem;
  }
  
  form {
    flex-direction: column;
  }
  
  #submit-button {
    font-size: 18px;
    font-weight: 800;
    margin-top: 1%;
  }
  #go-back {
    font-weight: 700;
    font-size: 12px;
    margin-top: 2%;

  }
  #projectName-container,
  #description-container ,
  #author-container
  {
      margin-bottom: 2%;
    display: flex;
    justify-content: space-between;
  }
  