*{
    margin: 0;
    padding: 0;
}
#screen3 {
    margin: 0 auto;
    /* align-items: center;
    display: flex;
    justify-content: center; */
    background-color: skyblue;
    height: 30rem;
    width: 30rem;
  }
  li{
      font-size: 20px;
  }